*{
 margin: auto 0px;
 padding: 0px;
}
body { 
  margin-top: 88px;
  margin: 80px auto;
  margin-bottom: 137px;
  width: 1120;
}
img {
  border-radius: 16px;
}
main{
  width: 1120;
}
#page {
  box-sizing: border-box;
  margin: 65px;
  padding: 15px;
  background-color: brown;
}
#titlepage {
  text-align: left;
 padding:  65px auto;
 margin-left: 35px;
}
#descriptionimage {
  text-align: left;
}
#content-destinos {
  text-align: left;
  padding:  65px auto;
 margin-left: 35px;
 width: 1120;
}
#page-corpo {
  text-align: left;
  padding:  65px auto;
 margin-left: 35px;
 width: 1120;
}
#description {
  text-align: left;
  padding:  65px auto;
 margin: 35px;
}
