body {
  text-align: left; 
  margin: 65px;
  padding: 15px
}
.headline-container {

}
.headline {
  font-size: 18px;     
  color: gray;         
  margin-bottom: 10px; 
  font-weight: bold;   
}
#page {
  box-sizing: border-box;
  padding: 0px;
  border-radius: 24px;
  margin: 0px auto ;

}
img {
  border-radius: 16px;
}
main{
 
}
.center-text {
  margin: 0 auto;
  display: block;
  text-align: left;
}
#titlepage {
 padding:  65px auto;
 margin-left: 35px;
}
#descriptionimage {
  text-align: left;
}
#content-main {
  align-items: center;
  justify-content: center;
}